:host {
  --content-padding: 10px;
  --background-color: #f5f5f5;
}

header {
   display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: var(--content-padding);
  background-color: var(--background-color);
  box-shadow: 0px 5px 25px var(--shadow-color);
}

.content {
  padding: var(--content-padding);
  background-color: var(--background-color);
}